@import "../../../bower_components/normalize.css/normalize.css";

* {
  -webkit-overflow-scroll: touch;
  -webkit-user-select:none;
  -khtml-user-select:none;
  user-select:none;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}
body {
  background:#f5f5f5;
}
$fontBlack:#333;
$fontGrey:#777;
$baiduBtnColor: #06c1ae;
#header {
  background:url("/static/public/image/bear-help.gif") no-repeat;
  background-size:auto 100%;
  background-position:center center;
  height:20vh;
}
#body {
  .qricon {
      width: 33vw;
      height: 8vw;
      margin-top:2vw;
      margin-bottom:2vw;
      background: url('/static/public/image/qa.png');
      background-size: auto 100%;
      background-position: left top;
      background-repeat: no-repeat;
  }
  .icon-strange {
    width: 33vw;
    height: 8vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    background: url('/static/public/image/strage.png') no-repeat;  
    background-size: auto 100%;
    background-size: auto 100%;
    background-position: left top;
    background-repeat: no-repeat;
  }
  .QA {
    border-top: 1px solid #dcdcdc;
    background:#fff;
    border-bottom:1px solid #dcdcdc;
    margin-bottom:10vw;
    .problem {
      font-size:5.5vw;
      color:$fontBlack;
      font-size:5.5vw;
      text-align:left;
      padding:3vw;
      border-top:1px solid #dcdcdc;
      .answer-area {
        font-size:4.5vw;
        background: #fff;
        width: 80vw;
        margin-top:3vw;
        margin-left:10vw;
        .answer {
          margin-bottom:2vw;
        }
      }
    }

    .img11 {
      background:url('/static/public/image/img11.png') no-repeat;
      background-position:left center;
      height:85vw;
      background-size:auto 100%;
      width:100%;
    }
    .img12 {
      background:url('/static/public/image/img12.png') no-repeat;
      background-position:left center;
      height:35vw;
      background-size:auto 100%;
      width:100%;
    }
    .img21 {
      background:url('/static/public/image/img21.png') no-repeat;
      background-position:left center;
      height:30vw;
      background-size:auto 100%;
      width:100%;
    }
    .img22 {
      background:url('/static/public/image/img22.png') no-repeat;
      background-position:left center;
      height:70vw;
      background-size:auto 100%;
      width:100%;
    }
    .img31 {
      background:url('/static/public/image/img31.png') no-repeat;
      background-position:left center;
      height:38vw;
      background-size:auto 100%;
      width:100%;
    }
    .img32 {
      background:url('/static/public/image/img32.png') no-repeat;
      background-position:left center;
      height:95vw;
      background-size:auto 100%;
      width:100%;
    }
    .img41 {
      background:url('/static/public/image/img41.png') no-repeat;
      background-position:left center;
      height:80vw;
      background-size:auto 100%;
      width:100%;
    }
    .img42 {
      background:url('/static/public/image/img42.png') no-repeat;
      background-position:left center;
      height:30vw;
      background-size:auto 100%;
      width:100%;
    }
    .img51 {
      background:url('/static/public/image/img51.png') no-repeat;
      background-position:left center;
      height:40vw;
      background-size:auto 100%;
      width:100%;
    }
    .img52 {
      background:url('/static/public/image/img52.png') no-repeat;
      background-position:left center;
      height:54vw;
      background-size:auto 100%;
      width:100%;
    }
    .img61 {
      background:url('/static/public/image/img61.png') no-repeat;
      background-position:left center;
      height:33vw;
      background-size:auto 100%;
      width:100%;
    }
    .img62 {
      background:url('/static/public/image/img62.png') no-repeat;
      background-position:left center;
      height:35vw;
      background-size:auto 100%;
      width:100%;
    }
    .img63 {
      background:url('/static/public/image/img63.png') no-repeat;
      background-position:left center;
      height:42vw;
      background-size:auto 100%;
      width:100%;
    }
    .img64 {
      background:url('/static/public/image/img64.png') no-repeat;
      background-position:left center;
      height:42vw;
      background-size:auto 100%;
      width:100%;
    }
    .img65 {
      background:url('/static/public/image/img65.png') no-repeat;
      background-position:left center;
      height:37vw;
      background-size:auto 100%;
      width:100%;
    }
  }
  .strage {
    background:#fff;
    border-top: 1px solid #dcdcdc;
    .li {
      a {
        color:$fontBlack;
        font-size:5.5vw;
        text-decoration:none;
        text-align:left;
        padding:3vw;
      }
      padding-top:3vw;
      padding-bottom:3vw;
      border-bottom:1px solid #dcdcdc;
    }
    .li:last-child {
      border-bottom:0;
    }
  }

}

