include ./lib/header.jade
title 过期  
body(style="background:url('/static/public/image/expire.png') no-repeat;background-size:100% auto;height:100%;width:100%;position:absolute;background-color:#f5f5f5;background-position:center;")=""
