include ./lib/header.jade
title 分享阅读 
link(href="/static/public/css/sharePage.css",rel="stylesheet",type="text/css")
script(src="/static/public/js/sharePage.min.js",language="javascript")
body(ng-app='baidu',ng-controller='sharePageCtrl',ng-cloak,style="position:absolute;height:100%;width:100%;margin:0;border:0;")
    section.ranking-board#read-board
        div.rank(ng-repeat="i in readBoard")
            div.rank-detail.clearfix
                div.place.clearfix(ng-if="i.rank == 1",style="background:url('/static/public/image/rank-first.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank == 2",style="background:url('/static/public/image/rank-second.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank == 3",style="background:url('/static/public/image/rank-third.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank >= 4",style="background:url('/static/public/image/rank-base.png');") {{ i.rank }}
                div.name-line.clearfix
                    div.name {{ i.name }}
                    div.school {{ i.school_name }}
                div.points.clearfix {{ i.score }} 积分
    section.ranking-board#forward-board
        div.rank(ng-repeat="i in forwardBoard")
            div.rank-detail.clearfix
                div.place.clearfix(ng-if="i.rank == 1",style="background:url('/static/public/image/rank-first.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank == 2",style="background:url('/static/public/image/rank-second.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank == 3",style="background:url('/static/public/image/rank-third.png');") {{ i.rank }}
                div.place.clearfix(ng-if="i.rank >= 4",style="background:url('/static/public/image/rank-base.png');") {{ i.rank }}
                div.name-line.clearfix
                    div.name {{ i.name }}
                    div.school {{ i.school_name }}
                div.points.clearfix {{ i.score }} 积分
    iframe.content(style="position:absolute;height:100%;width:100%;margin:0;border:0;",ng-src="{{ forwardUrl }}")
